/******************************
  Variables
******************************/
$black: #000000;
$white: #FFFFFF;
$bg-black: #191921;
$red: #F94F4F;
$light-red: #FF9393;


/******************************
  Reset and Scrollbar
******************************/
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: calc(100% - 3rem);
  margin-inline: auto;
}

.link {
  text-decoration: none;
  color: inherit;
}

/******************************
  Base Styles
******************************/
.body {
  font-family: 'Commissioner', sans-serif;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
}

/******************************
  Nav
******************************/
.nav {
  padding: 2.5rem 0;

  .wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  &__menu {
    padding: 2rem 1.625rem 1.75rem 1.625rem;
    background-color: $bg-black;
    color: $white;
    position: absolute;
    top: 70px;
    right: 0;
  }

  &__list {
    list-style: none;
    text-align: center;
  }

  &__item {
    margin-bottom: 1.5rem;
  }

  &__link {
    font-size: 1.125rem;
    line-height: 2rem;
    transition: all  250ms;

    &:hover,
    &:focus {
      font-weight: 700;
      letter-spacing: 1px;
    }
  }
}

/******************************
  Buttons
******************************/
.btn {
  display: inline-block;
  font-family: inherit;
  font-weight: 800;
  text-decoration: none;
  background-color: initial;
  border: initial;
  color: inherit;

  &--schedule {
    font-size: 1rem;
    line-height: 19.57px;
    background-color: $red;
    padding: 1.4375rem 2.78125rem 1.3125rem 2.78125rem;
    transition: all 400ms;

    &:hover,
    &:focus {
      color: $bg-black;
      background-color: $light-red;
    }
  }
}

/******************************
  Images
******************************/
.image {
  max-width: 100%;
  object-fit: cover;

  &--tablet,
  &--desktop {
    display: none;
  }

  @media(min-width: 650px) {

    &--mobile {
      display: none;
    }

    &--tablet {
      display: block;
    }
  }

  @media(min-width: 1440px) {

    &--tablet {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }
}

/******************************
  Display classes and keyframes
******************************/
.invisible-label {
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; 
  width: 1px; 
  margin: -1px;
}

.hidden {
  display: none;
}