/******************************
  Variables
******************************/
$black: #000000;
$white: #FFFFFF;
$bg-black: #191921;
$red: #F94F4F;


/******************************
  Reset and Scrollbar
******************************/
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}
/******************************
  Base Styles
******************************/
.body {
  font-family: 'Commissioner', sans-serif;
}

/******************************
  Images
******************************/
.image {
  max-width: 100%;
  object-fit: cover;

  &--tablet,
  &--desktop {
    display: none;
  }

  @media(min-width: 650px) {

    &--mobile {
      display: none;
    }

    &--tablet {
      display: block;
    }
  }

  @media(min-width: 1440px) {

    &--tablet {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }
}

/******************************
  Display classes and keyframes
******************************/
.hidden {
  display: none;
}